table{
    
    overflow-y:scroll;
    height:300px;
    display:block;
    
    margin-left:5rem;
}


tr, th{
    border: 1px solid #fff;
    padding: 0.5rem;
    width: 200px;
    font-size: 20px;
    height: 50px;

}

th{
    background-color: #fff;

}

td{
    height: 90px;
    border: 1px solid #fff;
    text-align: center; 
    vertical-align: middle;
}

